@page
@model HexagonalArchitecture.Pages.Reviews

@{
    ViewData["Title"] = "Avaliações";
}

<h1 class="display-4">Minhas avaliações</h1>

<div>
    @if (Model._reviews == null)
    {
        <div>Nâo foram feitas avaliações</div>
    }
    else
    {
        <div class="row">
            @foreach (var review in Model._reviews)
            {
                <div class="col col-md-4">
                    <div class="card">
                        <h5>@review.Cons</h5>
                    </div>
                </div>
            }
        </div>
    }
</div>
